/* ---- */
/* MAIN */
/* ---- */

body {
  overflow-y: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ----- */
/* POSTS */
/* ----- */

/* Post list */
.PostListElement {
  margin-bottom: 20px;
}

.PostListElement:last-child {
  margin-bottom: 0px;
}

/* Post */
.PostCard {
  max-width: 600px;
  min-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* Post top data grid */
.PostDataGridTop {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  margin-top: 6px;
  margin-left: 6px;
  margin-right: 12px;
}

.PostDataGridUser {
  display: flex;
  justify-self: start;
  align-self: center;
}

.PostDataGridDate {
  justify-self: end;
  align-self: center;
  display: flex;
}

/* Post bottom data grid */
.PostDataGridBottom {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

.PostDataGridRating {
  display: flex;
  justify-self: start;
  align-self: center;
}

.PostDataGridComments {
  display: flex;
  justify-self: end;
  align-self: center;
}

/* -------- */
/* COMMENTS */
/* -------- */

/* Comment top data grid */
.CommentDataGridTop {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 12px;
}

.CommentDataGridUser {
  display: flex;
  justify-self: start;
  align-self: center;
}

.CommentDataGridDate {
  display: flex;
  justify-self: end;
  align-self: center;
}

/* Comment bottom data grid */
.CommentDataGridBottom {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  margin-top: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

.CommentDataGridRating {
  display: flex;
  justify-self: start;
  align-self: center;
}

.CommentDataGridComments {
  display: flex;
  justify-self: end;
  align-self: center;
}
